{% extends "mainApp/wrapper.html" %} 


{% block content %}
<title>{%block title%}{{ title }}{%endblock%}</title>
<div class="content">
	<h1>{{title}}</h1>
	<table>
		<tr>
			<th>
	<h1 id="specifications">Технические характеристики</h1>
			</th>
		</tr>
<tr>
	<td>
	<ul>
		<li><b>Двигатель:</b> 4.4-литровый V8 с двойным турбонаддувом</li>
		<li><b>Мощность:</b> 635 л.с.</li>
		<li><b>Крутящий момент:</b> 750 Н·м</li>
		<li><b>Привод:</b> Полный привод (xDrive)</li>
		<li><b>Трансмиссия:</b> 8-ступенчатая автоматическая (Steptronic)</li>
	</ul>
</td>
</tr>
	<tr>
		<th>
<h1 id="dynamics">Динамика</h1>
</th>
	</tr>
	<tr>
		<td class="nothing">
<ul>
	<li><b>Разгон 0–100 км/ч:</b> 3.0 секунды</li>
	<li><b>Максимальная скорость:</b> 305 км/ч</li>
</ul>
</td>
</tr>
<tr>
	<th>
	<h2>Прочее</h2>
	</th>
</tr>
<tr>
	<td>
		<ul><li>BMW M5 CS выделяется карбоновой крышей, улучшенной подвеской и эксклюзивными спортивными сиденьями. Этот автомобиль сочетает в себе непревзойденную динамику, роскошь и высокие технологии.</ul></li>
	</td>
	</tr>
</table>
</div>
{% endblock  %}