{% extends "mainApp/wrapper.html" %} 


{% block content %}
<title>{%block title%}{{ title }}{%endblock%}</title>
<div class="content">
	<h1>{{title}}</h1>
	<table>
		<tr>
			<th>
	<h1 id="dynamics">Динамика</h1>
</th>
		</tr>
		<tr>
			<td class="nothing">
				<ul><li>BMW M5 CS демонстрирует невероятную динамику благодаря высокотехнологичному двигателю и превосходной аэродинамике.</ul></li>
	<ul>
		<li><strong>Разгон 0–100 км/ч:</strong> 3.0 секунды</li>
		<li><strong>Разгон 0–200 км/ч:</strong> 10.3 секунды</li>
		<li><strong>Максимальная скорость:</strong> 305 км/ч</li>
	</ul>
</td>
</tr><tr>
	<th>
	<h2>Особенности:</h2>
	</th>
</td>
<tr>
	<td>
		<ul><li>
		Этот автомобиль оснащён системой полного привода BMW xDrive с активным дифференциалом, что обеспечивает превосходное сцепление даже на сложных покрытиях. 
		Лёгкая конструкция и усовершенствованная подвеска позволяют минимизировать крены и обеспечить максимальную устойчивость на высоких скоростях.
	</ul></li>
</td>
</tr>
<tr>
	<th>
	<h2>Тормозная система:</h2>
	</th>
</tr>
<tr>
	<td>
		<ul><li>
		BMW M5 CS оснащён карбон-керамическими тормозами, которые обеспечивают уверенное торможение даже в экстремальных условиях.
	</ul></li>
</td>
</tr>
</table>
</div>
{% endblock  %}
