{% extends "mainApp/wrapper.html" %}  



{% block content  %}
<title>{%block title%}{{ title }}{%endblock%}</title>
<body>
    <div class="content">
		<h1>{{title}}</h1>
		<table>
			<tr>
        <th><h1>Об автомобиле</h1></th>
			</tr>
		<tr>
        <td class="nothing"><ul><li>BMW M5 CS — это эксклюзивная версия знаменитого седана M5, которая сочетает в себе высочайшую производительность, роскошь и технологичность. Этот автомобиль создан для тех, кто ценит уникальность и динамику.</ul></li></td>
		</tr>
        <tr>
			<th><h2>Технические характеристики</h2></th>
				</tr>

		<tr>
			<td class="nothing">
        <ul>
            <li><b>Двигатель:</b> 4.4-литровый V8 с двойным турбонаддувом</li>
            <li><b>Мощность:</b> 635 л.с.</li>
            <li><b>Разгон 0–100 км/ч:</b> 3.0 секунды</li>
            <li><b>Максимальная скорость:</b> 305 км/ч</li>
            <li><b>Привод:</b> полный (xDrive)</li>
        </ul>		
	</td>
	</tr>
	<tr>
		<th><h2>Особенности:</h2></th>
			</tr>
			<tr>
				<td class="nothing">
					<ul><li>Автомобиль выделяется не только мощностью, но и лёгким кузовом, карбоновыми элементами, а также эксклюзивными сиденьями M Carbon с золотистыми акцентами. Его подвеска настроена для максимальной точности управления, а выхлопная система обеспечивает впечатляющий звук.</ul></li>
				</td>
			</tr>
		</table>
    </div>
</body>

{% endblock  %}